Repository tighug/developer-notebook: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, textlint --fix, markdownlint --fix

.lintstagedrc.json:

{
  "*.{yml,json}": "prettier --write",
  "*.md": ["prettier --write", "textlint --fix", "markdownlint --fix"]
}

chore: Add .huskyrc.json
  .huskyrc.json
Due: prettier --write

chore: Add Dockerfile
  .devcontainer/Dockerfile
Due: none

chore: Add devcontainer.json
  .devcontainer/devcontainer.json
Due: prettier --write

feat: Add .vscode/
  .vscode/extensions.json
  .vscode/settings.json
Due: prettier --write

chore: Add .editorconfig
  .editorconfig
Due: none

chore: Add .hadolint.yaml
  .hadolint.yaml
Due: none

chore: Add .lintstagedrc.json
  .lintstagedrc.json
Due: prettier --write

docs: Add desctriptions to README.md
  README.md
Due: prettier --write, textlint --fix, markdownlint --fix

Deployed a81ed31 with MkDocs version: 1.1.2
  .nojekyll
  404.html
  assets/images/favicon.png
  assets/javascripts/bundle.f81dfb4d.min.js
  assets/javascripts/bundle.f81dfb4d.min.js.map
  assets/javascripts/lunr/min/lunr.ar.min.js
  assets/javascripts/lunr/min/lunr.da.min.js
  assets/javascripts/lunr/min/lunr.de.min.js
  assets/javascripts/lunr/min/lunr.du.min.js
  assets/javascripts/lunr/min/lunr.es.min.js
  assets/javascripts/lunr/min/lunr.fi.min.js
  assets/javascripts/lunr/min/lunr.fr.min.js
  assets/javascripts/lunr/min/lunr.hu.min.js
  assets/javascripts/lunr/min/lunr.it.min.js
  assets/javascripts/lunr/min/lunr.ja.min.js
  assets/javascripts/lunr/min/lunr.jp.min.js
  assets/javascripts/lunr/min/lunr.multi.min.js
  assets/javascripts/lunr/min/lunr.nl.min.js
  assets/javascripts/lunr/min/lunr.no.min.js
  assets/javascripts/lunr/min/lunr.pt.min.js
  assets/javascripts/lunr/min/lunr.ro.min.js
  assets/javascripts/lunr/min/lunr.ru.min.js
  assets/javascripts/lunr/min/lunr.stemmer.support.min.js
  assets/javascripts/lunr/min/lunr.sv.min.js
  assets/javascripts/lunr/min/lunr.tr.min.js
  assets/javascripts/lunr/min/lunr.vi.min.js
  assets/javascripts/lunr/tinyseg.min.js
  assets/javascripts/vendor.0ac82a11.min.js
  assets/javascripts/vendor.0ac82a11.min.js.map
  assets/javascripts/worker/search.4ac00218.min.js
  assets/javascripts/worker/search.4ac00218.min.js.map
  assets/stylesheets/main.19753c6b.min.css
  assets/stylesheets/main.19753c6b.min.css.map
  assets/stylesheets/palette.196e0c26.min.css
  assets/stylesheets/palette.196e0c26.min.css.map
  index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: prettier --write
